.bg-image{
    background-image: url('https://img.freepik.com/free-vector/oops-404-error-with-broken-robot-concept-illustration_114360-5529.jpg?w=2000');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom center;
}